
    <div class="container">
      <h3 class="section-title">My Skills</h3>
      <div class="skills">
        <div class="skill">
          <div class="skill-name">HTML</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 100%">100%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">CSS</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 100%">100%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">JavaScript</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 80%">80%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">Angular</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 80%">80%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">WordPress</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 70%">70%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">UI/UX</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 90%">90%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">SASS</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 80%">80%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">Git</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 85%">85%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">GitHub</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 90%">90%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">Responsive Design</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 100%">95%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">SEO</div>
          <div class="skill-bar">
            <div class="progress-bar" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
    </div>

